<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans    
                           http://www.springframework.org/schema/beans/spring-beans.xsd
	                         http://www.springframework.org/schema/context
	                           http://www.springframework.org/schema/context/spring-context.xsd
	                             http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	<context:component-scan base-package="aspectJ_annotationAop"></context:component-scan>

	<!--aop包下需要用到的 
	<bean id="logAop" class="aop.LogAop"></bean>
	<bean id="speech" class="aop.Speech"></bean>
	
	<aop:config>
		<aop:aspect id="myLogAop" ref="logAop">
			<aop:pointcut expression="execution(* aop.Speech.*(String)) and args(times)" id="pc"/>
			<aop:before method="before" pointcut-ref="pc"/>
			<aop:around method="around" pointcut-ref="pc"/>
		</aop:aspect>
	</aop:config> -->


</beans> 